<div *ngIf="errorMessage" class="alert alert-danger" role="alert" style="white-space: pre-line;">
  {{ errorMessage }}
</div>
<div class="container" *ngIf="!errorMessage">
    <h2>Cars</h2>
    <div class="mb-3">
      <input [(ngModel)]="search" (input)="searchCars()" type="text" class="form-control" placeholder="Search cars by number">
    </div>
    <div class="mb-3">
      <button (click)="sortCars('number:asc')" class="btn btn-primary">Sort by Number Asc</button>
      <button (click)="sortCars('number:desc')" class="btn btn-secondary">Sort by Number Desc</button>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Model</th>
          <th>Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars">
          <td>{{ car.id }}</td>
          <td>{{ car.name }}</td>
          <td>{{ car.model }}</td>
          <td>{{ car.number }}</td>
          <td>
            <a [routerLink]="['/car', car.id]" class="btn btn-info">Details</a>
          </td>           
        </tr>
      </tbody>
    </table>
  </div>
  